In [3]:
import pandas as pd

# Load dataset
file_path = "C:/Users/Sairam/Downloads/climate_change_dataset.csv"  # Update with actual path if needed

df = pd.read_csv(file_path)

# Display first few rows
print(df.head())

# Check for missing values
print(df.info())

# Summary statistics
print(df.describe())

   Year    Country  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
0  2006         UK                   8.9                          9.3
1  2019        USA                  31.0                          4.8
2  2014     France                  33.9                          2.8
3  2010  Argentina                   5.9                          1.8
4  2007    Germany                  26.9                          5.6

   Sea Level Rise (mm)  Rainfall (mm)  Population  Renewable Energy (%)  \
0                  3.1           1441   530911230                  20.4
1                  4.2           2407   107364344                  49.2
2                  2.2           1241   441101758                  33.3
3                  3.2           1892  1069669579                  23.7
4                  2.4           1743   124079175                  12.5

   Extreme Weather Events  Forest Area (%)
0                      14             59.8
1                       8             31.0
2                       9             35.5
3                       7             17.7
4                       4             17.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         1000 non-null   int64
 1   Country                      1000 non-null   object
 2   Avg Temperature (°C)         1000 non-null   float64
 3   CO2 Emissions (Tons/Capita)  1000 non-null   float64
 4   Sea Level Rise (mm)          1000 non-null   float64
 5   Rainfall (mm)                1000 non-null   int64
 6   Population                   1000 non-null   int64
 7   Renewable Energy (%)         1000 non-null   float64
 8   Extreme Weather Events       1000 non-null   int64
 9   Forest Area (%)              1000 non-null   float64
dtypes: float64(5), int64(4), object(1)
memory usage: 78.2+ KB
None
              Year  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
count  1000.000000           1000.000000                  1000.000000
mean   2011.432000             19.883100                    10.425800
std       7.147199              8.542897                     5.614665
min    2000.000000              5.000000                     0.500000
25%    2005.000000             12.175000                     5.575000
50%    2012.000000             20.100000                    10.700000
75%    2018.000000             27.225000                    15.400000
max    2023.000000             34.900000                    20.000000

       Sea Level Rise (mm)  Rainfall (mm)    Population  Renewable Energy (%)  \
count          1000.000000    1000.000000  1.000000e+03           1000.000000
mean              3.009600    1738.761000  7.053830e+08             27.300500
std               1.146081     708.976616  4.093910e+08             12.970808
min               1.000000     501.000000  3.660891e+06              5.100000
25%               2.000000    1098.750000  3.436242e+08             16.100000
50%               3.000000    1726.000000  7.131166e+08             27.150000
75%               4.000000    2362.500000  1.073868e+09             38.925000
max               5.000000    2999.000000  1.397016e+09             50.000000

       Extreme Weather Events  Forest Area (%)
count             1000.000000      1000.000000
mean                 7.291000        40.572000
std                  4.422655        17.398998
min                  0.000000        10.100000
25%                  3.000000        25.600000
50%                  8.000000        41.150000
75%                 11.000000        55.800000
max                 14.000000        70.000000

In [17]:
# import pandas as pd
# import numpy as np

# # Load dataset
# file_path = "C:/Users/Sairam/Downloads/climate_change_dataset.csv"  # Update path if needed
# df = pd.read_csv(file_path)

# Drop duplicate rows (if any)
df.drop_duplicates(inplace=True)

# Handle missing values (replace NaN with appropriate values)
df.fillna({
    "avg_temperature": df["avg_temperature"].mean(),  
    "co2_emissions": df["co2_emissions"].mean(),  
    "forest_area": df["forest_area"].mean(), 
    "population": df["population"].mean(), 
    "sea_level_rise": df["sea_level_rise"].mean(),  
    "rainfall": df["rainfall"].mean(),
    "extreme_events": 0  # Assuming missing values mean no extreme events
}, inplace=True)

# Convert data types (ensure numeric columns are correct)
df["year"] = df["year"].astype(int)
df["avg_temperature"] = df["avg_temperature"].astype(float)
df["co2_emissions"] = df["co2_emissions"].astype(float)
df["forest_area"] = df["forest_area"].astype(float)
df["population"] = df["population"].astype(int)
df["sea_level_rise"] = df["sea_level_rise"].astype(float)
df["rainfall"] = df["rainfall"].astype(float)
df["extreme_events"] = df["extreme_events"].astype(int)

print("✅ Data cleaned successfully!")

✅ Data cleaned successfully!

In [16]:
print(df.columns)

Index(['year', 'country', 'avg_temperature', 'co2_emissions', 'sea_level_rise',
       'rainfall', 'population', 'renewable_energy', 'extreme_events',
       'forest_area'],
      dtype='object')

In [5]:
df.rename(columns={"Avg Temperature (°C)": "avg_temperature"}, inplace=True)

In [7]:
df.rename(columns={"CO2 Emissions (Tons/Capita)": "co2_emissions"}, inplace=True)

In [8]:
df.rename(columns={"Sea Level Rise (mm)": "sea_level_rise"}, inplace=True)

In [10]:
df.rename(columns={"Rainfall (mm)": "rainfall"}, inplace=True)

In [11]:
df.rename(columns={"Population": "population"}, inplace=True)

In [12]:
df.rename(columns={"Renewable Energy (%)": "renewable_energy"}, inplace=True)

In [13]:
df.rename(columns={"Extreme Weather Events": "extreme_events"}, inplace=True)

In [14]:
df.rename(columns={"Forest Area (%)": "forest_area"}, inplace=True)

In [9]:
df.rename(columns={"Year": "year"}, inplace=True)

In [15]:
df.rename(columns={"Country": "country"}, inplace=True)

In [18]:
print(df.head())  # Show first 5 rows

   year    country  avg_temperature  co2_emissions  sea_level_rise  rainfall  \
0  2006         UK              8.9            9.3             3.1    1441.0
1  2019        USA             31.0            4.8             4.2    2407.0
2  2014     France             33.9            2.8             2.2    1241.0
3  2010  Argentina              5.9            1.8             3.2    1892.0
4  2007    Germany             26.9            5.6             2.4    1743.0

   population  renewable_energy  extreme_events  forest_area
0   530911230              20.4              14         59.8
1   107364344              49.2               8         31.0
2   441101758              33.3               9         35.5
3  1069669579              23.7               7         17.7
4   124079175              12.5               4         17.4

In [20]:
import mysql.connector

# Database connection
conn = mysql.connector.connect(
    host='localhost',
        user='root',
        password='9949237758',
        database='climate_data'
)
cursor = conn.cursor()

# Insert data into MySQL
for _, row in df.iterrows():
    cursor.execute("""
        INSERT INTO climate_records (country, year, avg_temperature, co2_emissions, forest_area,population, sea_level_rise, rainfall, extreme_events) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (row["country"], row["year"], row["avg_temperature"], row["co2_emissions"], row["forest_area"],row["population"], row["sea_level_rise"], row["rainfall"], row["extreme_events"]))

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("✅ Data successfully inserted into MySQL!")

✅ Data successfully inserted into MySQL!

In [4]:
print(df)

     Year    Country  Avg Temperature (°C)  CO2 Emissions (Tons/Capita)  \
0    2006         UK                   8.9                          9.3
1    2019        USA                  31.0                          4.8
2    2014     France                  33.9                          2.8
3    2010  Argentina                   5.9                          1.8
4    2007    Germany                  26.9                          5.6
..    ...        ...                   ...                          ...
995  2019      India                  23.6                          8.0
996  2000         UK                  21.8                         10.0
997  2019  Argentina                  23.8                          8.9
998  2016  Australia                  21.0                         14.9
999  2011    Germany                  24.1                         17.3

     Sea Level Rise (mm)  Rainfall (mm)  Population  Renewable Energy (%)  \
0                    3.1           1441   530911230                  20.4
1                    4.2           2407   107364344                  49.2
2                    2.2           1241   441101758                  33.3
3                    3.2           1892  1069669579                  23.7
4                    2.4           1743   124079175                  12.5
..                   ...            ...         ...                   ...
995                  1.2           1365  1358019778                  10.0
996                  2.2           1273   876123161                  14.9
997                  4.7            891  1120533308                  25.9
998                  3.1           1136   380662109                  24.5
999                  2.1           2854   398407112                  41.0

     Extreme Weather Events  Forest Area (%)
0                        14             59.8
1                         8             31.0
2                         9             35.5
3                         7             17.7
4                         4             17.4
..                      ...              ...
995                       8             20.2
996                      14             30.1
997                      10             46.5
998                       3             44.5
999                       3             19.8

[1000 rows x 10 columns]

In [ ]:
print(df)